java-ml/java-ml.dtd

<?xml version="1.0" encoding="UTF-8" ?>
<!ENTITY % visibility-attribute "visibility (public|private|protected) #IMPLIED">
<!ENTITY % kind-attribute "kind (integer|real|double) #IMPLIED">
<!ENTITY % mod-final "final (final) #IMPLIED">
<!ENTITY % mod-static "static (static) #IMPLIED">
<!ENTITY % mod-volatile "volatile (volatile) #IMPLIED">
<!ENTITY % mod-transient "transient (transient) #IMPLIED">
<!ENTITY % mod-native "native (native) #IMPLIED">
<!ENTITY % mod-abstract "abstract (abstract) #IMPLIED">
<!ENTITY % mod-synchronized "synchronized (synchronized) #IMPLIED">
<!ELEMENT java-source-program (import|class)* >
<!ATTLIST java-source-program
    version CDATA #IMPLIED>
<!ELEMENT import EMPTY>
<!ATTLIST import
    module CDATA #REQUIRED>
<!ELEMENT class ((implement)*, (comment|method|field)*) >
<!ATTLIST class
    name CDATA #REQUIRED
    %visibility-attribute 
    superclass CDATA "Object">
<!ELEMENT field EMPTY>
<!ATTLIST field
    type CDATA #REQUIRED
    name CDATA #REQUIRED
    %visibility-attribute
    %mod-final
    %mod-static
    %mod-volatile
    %mod-transient>
<!ELEMENT method (comment?,formal-arguments,statements)>
<!ATTLIST method 
    name CDATA #REQUIRED
    id ID #REQUIRED
    %visibility-attribute
    %mod-abstract
    %mod-final
    %mod-static
    %mod-synchronized
    %mod-volatile
    %mod-transient
    %mod-native
    return-type CDATA #REQUIRED>
<!ELEMENT comment (#PCDATA)>
<!ELEMENT formal-arguments (formal-argument)*>
<!ELEMENT formal-argument EMPTY>
<!ATTLIST formal-argument
    type CDATA #REQUIRED
    name CDATA #REQUIRED
    id ID #REQUIRED>
<!ELEMENT send (target,arguments)>
<!ELEMENT target (#PCDATA)>
<!ELEMENT return (expression)?>
<!ELEMENT statements (statements|send|var-decl|condition|loop|return)*>
<!ELEMENT expression (#PCDATA)>
<!ELEMENT arguments (literal-string|literal-number)*>
<!ELEMENT literal-string EMPTY>
<!ATTLIST literal-string
    value CDATA #REQUIRED>
<!ELEMENT literal-number EMPTY>
<!ATTLIST literal-number
    value CDATA #REQUIRED
    %kind-attribute
    base CDATA "10">
